@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Noto+Sans:wght@500;700&display=swap");

:root {
  --btn-sucess: #3db46d;
  --btn-danger: #eb5757;
  --text-primary: #4f4f4f;
  --text-secondary: #bdbdbd;
  --text-tertiary: #333333;
  --clr-neutral: #fff;
  --clr-neutral-100: #f7f7f7;
  --ff-primary: "Noto Sans", sans-serif;
  --ff-secondary: "Montserrat", sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--ff-primary);
}

/* =========== */
/* Common CSS */
/* ==========*/
img {
  max-width: 100%;
  height: auto;
}
ul {
  list-style: none;
}
.container {
  max-width: 90rem;
  margin-inline: auto;
  padding: 0 1rem;
  width: 100%;
}
a {
  text-decoration: none;
  cursor: pointer;
}
.btn {
  font-family: var(--ff-primary);
  display: inline-block;
  font-size: 1rem;
  border: none;
  border-radius: 0.75rem;
  box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.1);
  color: var(--clr-neutral);
  padding: 1em 1.24em;
  cursor: pointer;
  transition: 200ms ease-in-out;
}
.mb-0 {
  margin-bottom: 0;
}
.btn:hover {
  transform: translateY(-2px);
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}
.btn--success {
  background: var(--btn-sucess);
}
.btn--danger {
  background: var(--btn-danger);
}
.btn--cancel {
  cursor: pointer;
  color: var(--text-secondary);
}

.form-group {
  margin-bottom: 1.16rem;
  position: relative;
}
.form-label {
  display: inline-block;
  color: var(--text-primary);
  font-family: var(--ff-primary);
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 0.62rem;
}
.form-control {
  background: var(--clr-neutral);
  border-radius: 0.75rem;
  border: 1px solid var(--text-secondary);
  box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.1);
  padding: 1.12em 1.01em;
  /* font-family: inherit; */
  font: inherit;
  width: 100%;
}
.toggle-password {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 1.16rem 1.01rem;
  background: var(--btn-sucess);
  border-radius: 0.75rem;
  color: var(--clr-neutral);
}

.form-control:focus {
  outline: none;
}

.auth-wrapper {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--clr-neutral-100);
}
.auth-form {
  flex-grow: 1;
  max-width: 34.375rem;
  box-shadow: 0 2.5rem 8rem 2rem rgba(0, 0, 0, 0.06);
  padding: 3rem 4rem;
  border-radius: 5px;
  background-color: var(--clr-neutral);
}
.auth-form h3 {
  font-size: 1.5rem;
  color: var(--text-primary);
  text-transform: uppercase;
  margin-bottom: 2.2rem;
}
.auth-form .form-btns {
  gap: 1rem;
  justify-content: start;
}
.error {
  color: var(--btn-danger);
  font-size: 0.9rem;
}
.loader {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  border: 3px solid var(--clr-neutral);
  border-top: 4px solid transparent;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.btn-with-loader {
  display: flex;
  gap: 0.9rem;
  align-items: center;
}

/* ================ */
/* Utility Classes */
/* ============== */
.position-relative {
  position: relative;
}
.col {
  display: flex;
  flex-direction: column;
}
